<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="box">
        {{message}} {{name}}
        <p><input type="text" v-model ="message"/></p>
        <p>{{num}}</p>
        <p><input type="button" v-model="num" v-on:click="calculator(5)" value="累加器"/></p>
        <p>你的爱好：<input type="text" v-model="info" v-on:keyup.enter="addHobby()"/></p>
        <ul>
            <li v-for="item in hobbys">
                {{item}}
            </li>
        </ul>
        <span v-bind:title="message">
            鼠标停留几秒查看信息
        </span>
        <p>
            <span v-for="n in 10">{{n}}</span>
        </p>
     
    </div>
    <script >
        var box = new Vue({
            el:"#box",
            data:{
                message:"hellow word!" + new Date().toLocaleString(),
                name:"chenmeng",
                num:0,
                hobbys:[],
                info:""
            },
            methods:{
                calculator:function (number){
                    this.num += number;
                },
                addHobby:function(){
                    this.hobbys.push(this.info);
                    this.info = "";
                }
            }
        });
    </script>
</body>
</html>